.qty-selector{
  text-align: center;
  .qty-name{
    font-size: 0.8rem;
    font-weight: 900;
    color: lightgray;
    margin: 1.2rem 0 0.3rem 0;
  }
  .qty-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    margin: 10px;
  }
  .minus-btn{
    margin-left: 0
  }
  .qty-input{
    width: 50px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
    padding: 3px;
    text-align: center;
  }
  .update-qty{
    cursor: pointer;
    font-size: 0.7rem;
    text-align: center;
    .icon{
      color: #ffa500;
      margin-right: 5px;
    }
  }
}