@import '../../../styles/color.scss';

.container{
  padding-left: 0;
  padding-right: 0;

}
.top-nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 0; 
  font-weight: 600;
  font-size: 0.9rem;
  
  .login-links{
    display: flex;
    span{
      padding:0 5px;
    }
    .links{
      color: map-get($color, app-red );
      border: none;
      background-color: #fff;
    }
    .navbar-toggler{
      border: grey;
      color: grey;
      .navbar-toggler-icon{
        color: grey;
      }
    }
    
  }

  .center-links{
    margin: 0 auto;
    .navbar-text{
      color: map-get($color , app-black );
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .cart-links{
    display: flex;
    font-size: 0.8rem;
    .grp {
      margin-right: 50px;
      .grp-img {
        margin: 0 10px;
      }
      span {
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}

  @media (max-width: 400px) {
    .top-nav{
      .center-links{
        a{
          display: block;
          margin: 5px 0;
        }
      }

    }

}
