.summary {
  color: #555;
  .summary-heading{
    margin-bottom: 10px;
  }
  .summary-content{
    margin-top: 15px;
    .details{
      font-weight: 800;
      color: #777;
      margin-bottom: 0.8rem;
    }
  }
  .summary-details{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    p{
      margin-bottom: 0.5rem;
    }
    .price{
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
  .summary-footer{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    .total-price{
      font-weight: 700;
    }
  }
}