@import '../../../styles/color.scss';

.cart-icon {
  position: relative;
  margin-right: 15px;
  cursor: pointer;
  .cart-bag{
    font-size:1.2rem;
    color:map-get($color, app-grey);
  }
  .inverse-cart-bag{
    color: map-get($color, app-white);
  }
  .cart-count {
    position: absolute;
    top: -8.5px;
    right: -11px;
    height: 18px;
    width: 18px;
    background-color: map-get($color, app-red );
    color: map-get($color, app-white);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7rem;
  }
  .inverse-cart-count{
    background-color: map-get($color, app-white);
    color: map-get($color, app-red);
  }
}