.homepage{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;

  .filter-side-bar{
    grid-column: 1 / 2;
    // width: 50%;
  }

  .product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}