.custom-form{
  .heading{
    color: #5c5c5c;
  }
  p{
    font-size: 0.7rem;
    margin-top: 10px;
    color: #949494;
    font-weight: 600;
    text-align: right;
  }
  .register-link{
    color: #ff4363;
    font-weight: 900;
    cursor: pointer;
  }
}